<div class = "container-fluid" style = "width: 100%">
  <%= form_with model: model_object, url: form_action do |form| %>
    <%= form.label :Email %></br>
    <%= form.select :emails, [], {}, {class: 'select2', multiple: "multiple", style: "width: 50%" } %></br>
    <%= form.file_field :file, class: "btn btn-primary btn-lg" %></br>
    <%= form.label :Subject %></br>
    <%= form.text_field :subject, { style: "width: 50%", value: @template&.subject}%></br>
    <%= form.label :Body %></br>
    <%= form.rich_text_area :body, value: @template&.body %></br>
    <%= form.submit "Send Mail", class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
